<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta
      name="description"
      content="A collection of screenshots from websites with poor accessibility, user experience, privacy policies, and other gross disregards for their audience.">
    <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
    <!-- Favicon stolen from Lea Verou -->
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=IM+Fell+English+SC&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.jpg">
  </head>
  <body style="background-image:url('/images/bg_clouds.png')">
    {% include "./nav.html" %}

    <main class="mt-20">
      {{ content | safe }}
    </main>

    {% include "./footer.html" %}

    <script defer src="/assets/main.js"></script>
  </body>
</html>