<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta
      name="description"
      content="A collection of screenshots from websites with poor accessibility, user experience, privacy policies, and other gross disregards for their audience.">
    <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
    <!-- Favicon stolen from Lea Verou -->
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=IM+Fell+English+SC&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.jpg">
    <link rel="canonical" href="https://www.valheimgame.com{{ page.url }}">
    <meta property="og:site_name" content="VALHEIM">
    <meta property="og:title" content="VALHEIM">
    <meta property="og:url" content="https://www.valheimgame.com{{ page.url }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/images/valheim_og_image.png">
    <meta property="og:image:width" content="1500">
    <meta property="og:image:height" content="660">
    <meta itemprop="name" content="VALHEIM">
    <meta itemprop="url" content="https://www.valheimgame.com{{ page.url }}">
    <meta itemprop="thumbnailUrl" content="/images/valheim_og_image.png">
    <link rel="image_src" href="/images/valheim_og_image.png">
    <meta itemprop="image" content="/images/valheim_og_image.png">
    <meta name="twitter:title" content="VALHEIM">
    <meta name="twitter:image" content="/images/valheim_og_image.png">
    <meta name="twitter:url" content="https://www.valheimgame.com{{ page.url }}">
    <meta name="twitter:card" content="summary">
    <meta name="description" content="A brutal exploration and survival game for 1-10 players, set in a procedurally-generated purgatory inspired by viking culture. Battle, build, and conquer your way to a saga worthy of Odin’s patronage!">
  </head>
  <body style="background-image:url('/images/bg_clouds.png')">
    {% include "./nav.html" %}

    <main class="mt-20">
      {{ content | safe }}
    </main>

    {% include "./footer.html" %}

    <script defer src="/assets/main.js"></script>
  </body>
</html>