<div
  class="bg-black text-white py-4 px-12 flex justify-between items-center uppercase"
>
  <a class="block" href="/">
    <span class="absolute invisible">Home</span>
    {% logo "./src/images/valheim_transparent_full.png", "Valheim logo" %}
  </a>
  <div class="space-x-4 text-lg">
    <a
      href="https://valheimbugs.featureupvote.com/"
      target="_blank"
      rel="noopener"
      >Bug Tracker</a
    >
    <a
      href="https://valheim.fandom.com/wiki/Valheim_Wiki"
      target="_blank"
      rel="noopener"
      >Wiki</a
    >
    <a
      href="https://mailchi.mp/df0556958905/pz0ijl1t8v"
      target="_blank"
      rel="noopener"
    >
      Newsletter
    </a>
    <a href="/#about">About</a>
    <a href="/#videos">Videos</a>
    <a href="/#screenshots">Screenshots</a>
    <a href="/faq">FAQ</a>
    <a
      href="http://irongatestudio.se/onewebmedia/ValheimPresskit.zip"
      target="_blank"
      rel="noopener"
    >
      Presskit
    </a>
    <a href="https://www.irongatestudio.se/" target="_blank" rel="noopener">
      Iron Gate
    </a>
  </div>
</div>
