<div
  class="fixed z-10 top-0 h-20 w-screen bg-black text-white p-4 md:px-12 flex justify-between items-center uppercase"
>
  <a class="block" href="/">
    <span class="absolute invisible">Home</span>
    {% logo "./src/images/valheim_transparent_full.png", "Valheim logo" %}
  </a>
  <!-- desktop nav -->
  <nav class="space-x-4 text-lg hidden md:block">
    {% include "nav_links.html" %}
  </nav>
  <button
    id="js-nav-trigger"
    type="button"
    class="focus:ring p-2 md:hidden burger-box"
  >
    <span class="burger-inner">
      <span class="top-bun"></span>
      <span class="bottom-bun"></span>
    </span>
  </button>
</div>

<!-- mobile nav -->
<nav
  id="js-nav-container"
  class="bg-black fixed inset-0 w-screen top-20 z-10 hidden md:hidden"
>
  <div
    class="flex flex-col text-center text-3xl text-white h-full justify-center uppercase"
  >
    {% include "nav_links.html" %}
  </div>
</nav>
