<section class="branches-bg pb-20">
  <div class="max-w-5xl mx-auto text-white px-6 py-20 overflow-y-auto">
    <h3
      id="about"
      class="text-3xl pt-2 pb-1 md:text-5xl bg-black bg-opacity-50 md:pt-6 md:pb-4 mb-8 uppercase text-center"
    >
      About Valheim
    </h3>

    <p class="leading-relaxed text-lg mb-8">
      A battle-slain warrior, the Valkyries have ferried your soul to Valheim, the
      tenth Norse world. Besieged by creatures of chaos and ancient enemies of the
      gods, you are the newest custodian of the primordial purgatory, tasked with
      slaying Odin’s ancient rivals and bringing order to Valheim.
    </p>
    <div class="block md:grid md:grid-cols-2 lg:grid-cols-3 gap-8 mb-20">
      <div>
        {% screenshot "./src/images/screenshots/explore_image.jpg", "", "w-full" %}
        <h4 class="text-3xl md:text-5xl text-center my-8">Explore</h4>
        <p class="text-lg leading-relaxed mb-6">
          A beautiful, procedurally-generated world awaits you. Venture into deep
          dark forests, climb snow-peaked mountains and marvel at lush valleys.
          Take to the seas on a mighty longship, but be wary of sailing too far...
        </p>
      </div>
      <div>
        {% screenshot "./src/images/screenshots/build_image.jpg", "", "w-full" %}
        <h4 class="text-3xl md:text-5xl text-center my-8">Build</h4>
        <p class="text-lg leading-relaxed mb-6">
          Raise your own viking mead halls, houses, castles, and more with our
          powerful construction interface. From knarrs to imposing warships, build
          legendary vessels to conquer the seas and discover new lands.
        </p>
      </div>
      <div>
        {% screenshot "./src/images/screenshots/conquer_image.jpg", "", "w-full" %}
        <h4 class="text-3xl md:text-5xl text-center my-8">Conquer</h4>
        <p class="text-lg leading-relaxed mb-6">
          Battle the mythical beasts of the tenth world and animal wildlife in
          punishing dodge & block based combat.
        </p>
      </div>
      <div>
        {% screenshot "./src/images/screenshots/craft_image.png", "", "w-full" %}
        <h4 class="text-3xl md:text-5xl text-center my-8">Craft</h4>
        <p class="text-lg leading-relaxed mb-6">
          Forge increasingly powerful weapons and armour as you advance. Craft
          food and mead to maintain your health.
        </p>
      </div>
      <div>
        {% screenshot "./src/images/screenshots/survive_image.png", "", "w-full" %}
        <h4 class="text-3xl md:text-5xl text-center my-8">Survive</h4>
        <p class="text-lg leading-relaxed mb-6">
          From the highest mountain peak to the deepest swamp, each environment
          presents unique challenges and foes.
        </p>
      </div>
      <div>
        {% screenshot "./src/images/screenshots/cooperate_image.png", "", "w-full" %}
        <h4 class="text-3xl md:text-5xl text-center my-8">Cooperate</h4>
        <p class="text-lg leading-relaxed mb-6">
          Valheim supports independent, player-hosted servers and as many worlds
          as you wish to create, because no one wants to continuously die alone.
        </p>
      </div>
    </div>

    <h3
      id="videos"
      class="text-3xl pt-2 pb-1 md:text-5xl bg-black bg-opacity-50 md:pt-6 md:pb-4 px-6 mb-8 uppercase text-center"
    >
      Videos
    </h3>

    <div class="youtube-video-wrapper mb-8">
      {% youtubeEmbed "Ly2P6powIjw", "Valheim Early Access Date Reveal Trailer" %}
    </div>

    <div class="youtube-video-wrapper mb-8">
      {% youtubeEmbed "oNx-9YsOpBo", "Valheim PC Gamingshow 2020 Reveal Trailer", false %}
    </div>

    <div class="space-y-8 md:space-y-0 md:grid grid-cols-2 gap-8 mb-24">
      <div>
        <div class="youtube-video-wrapper">
          {% youtubeEmbed "nsBxoVbGf4E", "Valheim Guerilla Collective Trailer", false %}
        </div>
      </div>
      <div>
        <div class="youtube-video-wrapper">
          {% youtubeEmbed "nUREJDk9Sj4", "First day in Valheim" %}
        </div>
      </div>
      <div>
        <div class="youtube-video-wrapper">
          {% youtubeEmbed "kTHqJ1LWs70", "Wondrous Creatures Of Valheim EP1" %}
        </div>
      </div>
      <div>
        <div class="youtube-video-wrapper">
          {% youtubeEmbed "B8ypHqJqGs8", "Journey to a new home", false %}
        </div>
      </div>
    </div>

    <h3
      id="screenshots"
      class="text-3xl pt-2 pb-1 md:text-5xl bg-black bg-opacity-50 md:pt-6 md:pb-4 px-6 mb-8 uppercase text-center"
    >
      Screenshots
    </h3>

    <div class="space-y-8 md:space-y-0 md:grid md:grid-cols-2 lg:grid-cols-3 gap-8">
      {% for image in screenshots -%}
        <a
          href="javascript:void"
          data-lightbox
          data-lightbox-src="{{ image.path }}"
          data-lightbox-alt="{{ image.alt }}"
          class="block focus:ring"
        >
          {% screenshot "./src" + image.path, image.alt, "cursor-pointer w-full" %}
        </a>
      {% endfor -%}
    </div>
  </div>
</section>