<div class="block md:flex md:space-x-4 justify-center mt-24">
  <a
    class="flex items-center p-4 border-2 border-white text-white hover:bg-black transition-colors"
    href="https://store.steampowered.com/app/892970/Valheim/"
    rel="noopener"
    target="_blank"
  >
    <span class="inline-block mr-4">
      <img src="/images/steam_icon.png" height="40" width="40" alt="" />
    </span>
    <span class="text-xl">BUY NOW ON STEAM</span>
  </a>
  <div class="customspacer"></div>
  <a
    class="flex items-center p-4 border-2 border-white text-white hover:bg-black transition-colors"
    href="https://discord.gg/t9Hqt7z"
    rel="noopener"
    target="_blank"
  >
    <span class="inline-block mr-4">
      <img src="/images/discord_icon.png" height="40" width="40" alt="" />
    </span>
    <span class="text-xl">JOIN OUR DISCORD</span>
  </a>
  <div class="customspacer"></div>
  <a
    class="flex items-center p-4 border-2 border-white text-white hover:bg-black transition-colors"
    href="https://mailchi.mp/df0556958905/pz0ijl1t8v"
    rel="noopener"
    target="_blank"
  >
    <span class="inline-block mr-4">
      <img src="/images/valheim_icon.png" height="40" width="40" alt="" />
    </span>
    <span class="text-xl">SIGN UP FOR NEWSLETTER</span>
  </a>
</div>
