<section
  class="min-h-screen relative"
>
  <picture>
    {% srcSet "/images/enjoying_the_vista.png", [360, 1280, 1920, 2500] %}
    <img
      src="/images/enjoying_the_vista.png"
      sizes="100vw"
      class="absolute top-0 left-0 w-full h-full object-cover"
      style="z-index:-1"
      width="2500"
      height="1552"
      alt="" />
  </picture>
  <div class="max-w-5xl text-white mx-auto text-center p-4 md:pt-20">
    <h3 class="text-4xl mb-4">Welcome to Valheim!</h3>
    <p class="text-2xl leading-relaxed">
      The valkyries have ferried your soul to the tenth norse world as a
      custodian, where you must adventure to the ends of the realm, from the
      deepest forest to the highest mountain peak, slaying beasts of myth and
      legend feared by Odin himself. You will craft powerful weapons, build
      unyielding castles and sail longships towards the horizon to prove
      yourself to the Allfather, and certainly die trying!
    </p>
  </div>
</section>
