---
title: VALHEIM
layout: base.njk
---

<header id="homepage-header" class="pb-24 pt-8 md:pt-12 relative">
  <div
    id="background-video-container"
    class="absolute inset-0 pointer-events-none overflow-hidden"
    style="height: 100%;z-index:-1;"
  >
    <picture>
      {% srcSet "/images/video_fallback.png", [720, 1024, 1920] %}
      <img alt="" id="hosted-video-fallback" class="h-full w-full object-cover hidden" src="/images/video_fallback.png" />
    </picture>
    <video
      id="hosted-video"
      autoplay
      muted
      loop
      playsinline
      class="h-full w-full object-cover"
      disablePictureInPicture
      width="1280"
      height="720"
    >
      <source src="/images/videos/valheim_loop_540_short.mp4" type="video/mp4" media="all and (max-width: 540px)"> 
      <source src="/images/videos/valheim_loop_720_short.mp4" type="video/mp4" media="all and (max-width: 720px)"> 
      <source src="/images/videos/valheim_loop_1080_short.mp4" type="video/mp4">
    </video>
  </div>
  <div class="max-w-6xl mx-auto px-8 text-center">
    {% headerImage "./src/images/valheim_transparent_full.png", "", "block w-full max-w-5xl mx-auto mb-8" %}
    <h1
      class="text-white bg-black bg-opacity-50 mx-auto text-5xl p-2 md:px-6 md:py-4 md:text-6xl inline-block"
    >
      Early Access available now!
    </h2>
  </div>

  {% include "homepage/links.html" %}
</header>

{% include "homepage/welcome.njk" %}
{% include "homepage/about.njk" %}
{% include "lightbox.html" %}
