---
title: VALHEIM
layout: base.njk
---

<div class="absolute top-0 w-full pointer-events-none z-in" style="height:calc(0.5625*100vw);z-index:-1">
  <div id="background-video"></div>
</div>

<div class="container mx-auto px-8 mt-6 mb-12 text-center">
  <img src="/images/valheim_logo_transparent.png" class="block w-full max-w-5xl mx-auto" />
  <h2 class="text-white bg-black bg-opacity-50 mx-auto px-6 py-4 text-6xl inline-block">Early Access available now!</h2>
</div>

{% include "homepage/links.html" %}

{% include "homepage/welcome.html" %}

{% include "homepage/about.html" %}

{% include "lightbox.html" %}